# The directory is used to build and install everything by default
build/
install/
include/
bin/
.vscode/

# Temp folder
tmp/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

# root files accidentally created by scripts
scripts/*.root

# CLion cmake build directories
cmake-build-*/

python/__pycache__/

python/.ipynb_checkpoints/
