<wc-chess-board class="board" id="board-analysis-board">
    <svg viewBox="0 0 100 100" class="coordinates">
        <text x="0.75" y="3.5" font-size="2.8" class="coordinate-light">8</text>
        <text x="0.75" y="15.75" font-size="2.8" class="coordinate-dark">7</text>
        <text x="0.75" y="28.25" font-size="2.8" class="coordinate-light">6</text>
        <text x="0.75" y="40.75" font-size="2.8" class="coordinate-dark">5</text>
        <text x="0.75" y="53.25" font-size="2.8" class="coordinate-light">4</text>
        <text x="0.75" y="65.75" font-size="2.8" class="coordinate-dark">3</text>
        <text x="0.75" y="78.25" font-size="2.8" class="coordinate-light">2</text>
        <text x="0.75" y="90.75" font-size="2.8" class="coordinate-dark">1</text>
        <text x="10" y="99" font-size="2.8" class="coordinate-dark">a</text>
        <text x="22.5" y="99" font-size="2.8" class="coordinate-light">b</text>
        <text x="35" y="99" font-size="2.8" class="coordinate-dark">c</text>
        <text x="47.5" y="99" font-size="2.8" class="coordinate-light">d</text>
        <text x="60" y="99" font-size="2.8" class="coordinate-dark">e</text>
        <text x="72.5" y="99" font-size="2.8" class="coordinate-light">f</text>
        <text x="85" y="99" font-size="2.8" class="coordinate-dark">g</text>
        <text x="97.5" y="99" font-size="2.8" class="coordinate-light">h</text>
    </svg><!--/Coordinates-->
    <div class="element-pool" style=""></div>
    <div class="element-pool" style=""></div>
    <div class="element-pool" style=""></div><!--/Squares--><!--/Blinking Highlights--><!--/Effects-->
    <div class="hover-square" style="visibility: hidden;">
        <svg viewBox="0 0 100 100">
            <rect x="0" y="0" width="100" height="100" stroke="rgba(255, 255, 255, 0.65)" stroke-width="10"
                  fill="none"></rect>
        </svg>
    </div><!--/Hover Square--><!--/Effects-->
    <div class="piece br square-88" style=""></div>
    <div class="piece bn square-78" style=""></div>
    <div class="piece bb square-68" style=""></div>
    <div class="piece bk square-58" style=""></div>
    <div class="piece bq square-48" style=""></div>
    <div class="piece bb square-38" style=""></div>
    <div class="piece bn square-28" style=""></div>
    <div class="piece br square-18" style=""></div>
    <div class="piece bp square-87" style=""></div>
    <div class="piece bp square-77" style=""></div>
    <div class="piece bp square-67" style=""></div>
    <div class="piece bp square-57" style=""></div>
    <div class="piece bp square-47" style=""></div>
    <div class="piece bp square-37" style=""></div>
    <div class="piece bp square-27" style=""></div>
    <div class="piece bp square-17" style=""></div>
    <div class="piece wp square-82" style=""></div>
    <div class="piece wp square-72" style=""></div>
    <div class="piece wp square-62" style=""></div>
    <div class="piece wp square-52" style=""></div>
    <div class="piece wp square-42" style=""></div>
    <div class="piece wp square-32" style=""></div>
    <div class="piece wp square-22" style=""></div>
    <div class="piece wp square-12" style=""></div>
    <div class="piece wr square-81" style=""></div>
    <div class="piece wn square-71" style=""></div>
    <div class="piece wb square-61" style=""></div>
    <div class="piece wk square-51" style=""></div>
    <div class="piece wq square-41" style=""></div>
    <div class="piece wb square-31" style=""></div>
    <div class="piece wn square-21" style=""></div>
    <div class="piece wr square-11" style=""></div><!--/Pieces--><!--/Custom Items--><!--/MoveHints-->
    <!--/Capture Hints-->
    <svg viewBox="0 0 100 100" class="arrows"></svg><!--/Arrows--><!--/Promotion Window--><!--/Fade Setup-->
</wc-chess-board>

